body {
	background-color: #F5F5F5;
	font-size: 14px;
	font-family: arial;
}

.mce-fullscreen {
	z-index: 1200!important;
}


/*=================================================================*/
/*                             LAYOUT                              */
/*=================================================================*/

/*=======================================================*/
/*=========================HEADER========================*/

#headerMain {
	height: 42px;
	background-color: #f8f8f8;
}

#headerMain #navMain {
	position: fixed;
	z-index: 1100;
	left: 0;
	right: 0;
	color: #2b2b2b;
	background-color: #f8f8f8;
	border-bottom: 1px solid #DADADA;
}

#headerMain #navMain ul li  {
	border-right: 1px solid #DADADA;
}

@media (min-width: 768px){
#navMain ul:nth-child(2) li:first-child a  {
	width: 248px;
}}

#navMain ul:nth-child(2) li:first-child a  {
	text-align: center;
	font-weight: bold;
}

#navMain ul li a  {
	padding: 0 10px;
	line-height: 42px;
}

/*=======================================================*/
/*=========================SIDEBAR=======================*/

#sidebarMain {
	background-color: #424B54;
	color: white;
	/*box-shadow: inset -10px 0 15px rgba(0, 0, 0, 0.24);*/
}

#sidebarMain > ul {
	padding: 0;
	padding-top: 70px;
}

#sidebarMain ul ul {
	background-color: #343D45;
	border-top: 1px solid #262E35;
}

#sidebarMain li {
	list-style: none;
}

#sidebarMain ul ul li {
	border-left: 1px solid #262E35;
}

#sidebarMain ul li a {
	display: block;
	padding-left: 20px;
	line-height: 35px;
}

#sidebarMain ul ul li a {
	padding-left: 5px;
}

#sidebarMain > ul > li > a:hover,
#sidebarMain > ul > li.current > a {
	background-color: rgba(255, 255, 255, 0.1);
	border-bottom: 1px solid rgba(0, 0, 0, 0.38);
	box-shadow: 0 1px rgba(255, 255, 255, 0.14);
	margin-bottom: -1px;
}

#sidebarMain ul li ul li a:hover,
#sidebarMain ul li ul li.current a {
	background-color: #293139;
}


/*=======================================================*/
/*=========================FOOTER========================*/

#footerMain {
	z-index: 1000;
	background-color: #424B54;
	padding: 10px 20px;
	color: white;
}


/*=======================================================*/
/*=========================ELEMENTS======================*/

/*=== SUB NAVBAR ===*/
/*==================*/

.navSub {
	background: #ECECEC;
	padding: 5px 20px 0;
	font-weight: bold;
	color: #696969;
	box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
}

.navSub ul {
	padding: 0;
}

.navSub li {
	display: inline-block;
	margin: 0 5px;
}

.navSub li.title {
	color: #333;
	font-size: 18px;
}

.navSub li.current {
	background: whitesmoke;
	padding: 10px 10px;
	border-radius: 3px 3px 0 0;
	color: #232323;
	border: 1px solid #D0D0D0;
	border-bottom: none;
}

.navSub a.edit {
	background: #313131;
	background: -webkit-linear-gradient(35deg, #484848 0%, #484848 50%, #313131 51%, #313131 100%);
			background: linear-gradient(35deg, #484848 0%, #484848 50%, #313131 51%, #313131 100%);
	color: white;
	display: inline-block;
	line-height: 20px;
	border-radius: 50%;
	text-align: center;
	width: 20px;
	font-size: 11px;
} .navSub a:not(.edit):hover  {
	color: #232323;
}

/*=== TABLE CLASSIC ===*/
/*=====================*/

.tableClassic {
	background: white;
	padding: 10px;
	border-radius: 2px;
	border: 1px solid #C5C5C5;
}

.tableClassic thead {
	border-bottom: 2px solid #CECECE;
	font-weight: bold;
}

.tableClassic thead th {
	padding: 10px 10px;
}

.tableClassic tbody td.forbidden {
	background: -webkit-repeating-linear-gradient(45deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07) 10px, rgba(0, 0, 0, 0.03) 10px, rgba(0, 0, 0, 0.03) 20px);
			background: repeating-linear-gradient(45deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07) 10px, rgba(0, 0, 0, 0.03) 10px, rgba(0, 0, 0, 0.03) 20px);
}

.tableClassic tbody tr:not(:last-child) {
	border-bottom: 1px solid #CECECE;
}

.tableClassic tbody td {
	padding: 10px;
}

.tableClassic a:hover {
	text-decoration: underline;
	color: #60B3E8;
}

.tableClassic .redMark,
.tableClassic .fa.fa-eye-slash {
	background: rgba(255, 0, 0, 0.42);
	color: #770606;
	padding: 2px;
	border-radius: 3px;
}

.tableClassic .greenMark {
	background: rgba(136, 216, 64, 0.42);
	color: #0C7706;
	padding: 2px;
	border-radius: 3px;
}

.tableClassic .royalBlueMark {
	background: #4169E1;
	color: white;
	padding: 2px;
	border-radius: 3px;
}

/*=== FORM ===*/
/*============*/

.formClassic label input[type="checkbox"] {
	vertical-align: middle;
	/*visibility: hidden;*/
	position: relative;
	margin-right: 10px;
}

.formClassic label input[type="checkbox"],
.formClassic label input[type="checkbox"]:before {
	width: 77px!important;
	height: 28px;
}

.formClassic label input[type="checkbox"]:before {
	content: "";
	visibility: visible;
	position: absolute;
	/*top: 0;*/
	left: 0;
	vertical-align: middle;
	background-image: url('../../web/img/sprites/adminpanel/checkboxC2.png');
	background-position-y: 0px;
	background-color: #FFFFFF;
	border-radius: 1px;
	/*border: 1px solid #CECECE;*/
	cursor: pointer;
	transition: background 0.15s ease, color 0.15s ease;
		-webkit-transition: background 0.15s ease, color 0.15s ease;
		-moz-transition: background 0.15s ease, color 0.15s ease;
		-ms-transition: background 0.15s ease, color 0.15s ease;
		-o-transition: background 0.15s ease, color 0.15s ease;
}

.formClassic label input[type="checkbox"]:not(:checked):before {
	background-position-x: -46px;
}

.formClassic label input[type="checkbox"]:checked:before {
	background-position-x: 0px;
}

/*=== DRAG NESTED SORTABLE TREE ===*/
/*=================================*/

.sortableTree ul {
	list-style: none;
} .sortableTree ul:not(:first-child) {
	background: url('../img/sprites/adminpanel/backgSortableTree.png') repeat-y 56px;
}

.sortableTree li {
	padding-top: 5px;
}

.sortableTree li div.element {
	cursor: move;
	background: whitesmoke;
	padding: 16px;
	box-shadow: inset 0 0 18px rgba(0, 0, 0, 0.1);
	border: 1px solid rgba(0, 0, 0, 0.34);
	border-left: 7px solid rgba(0, 0, 0, 0.27);
	border-radius: 3px;
}

.sortableTree .placeholder  {
	outline: 1px dashed #4183C4;
}

.mjs-nestedSortable-error  {
	background: #fbe3e4;
	border-color: transparent;
}

/*=== BLOCK ===*/
/*=============*/

.containerMain {
	width: 95%;
	margin: 10px auto 0;
}

.containerSimple {
	background-color: white;
	margin: 10px 0;
	padding: 20px;
	border: solid 1px #d3d8db;
	box-shadow: 0 1px 1px rgba(0,0,0,0.05);
	border-radius: 3px;
}

.containerSimple.lightblue	{ background-color: rgba(6, 147, 239, 0.23); }
.containerSimple.dodgerblue	{ background-color: #338EFF; }

.containerUploadFiles {
	color: white;
	text-align: center;
	padding: 15px 0 15px;
	margin-bottom: 60px;
	position: relative;
	overflow: hidden;
}

.containerUploadFiles p {
	color: white;
	background: #2580F1;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.09) inset;
	padding: 15px;
	margin-top: 15px;
	margin-bottom: -15px;
}

.blockDashed {
	text-align: center;
	margin: 10px;
	padding: 20px;
	border: 1px grey dashed;
	background: rgba(0, 0, 0, 0.06);
}

.blockDashed.white {
	text-align: center;
	background: rgba(255, 255, 255, 0.06);
	border-color: white;
	color: white;
}

.blockWarning {
	background: -webkit-repeating-linear-gradient(45deg, #A23A3A, #A23A3A 10px, #993333 10px, #993333 20px);
			background: repeating-linear-gradient(45deg, #A23A3A, #A23A3A 10px, #993333 10px, #993333 20px);
	padding: 10px 10%;
	color: white;
	text-align: center;
	line-height: 22px;
}

.linebreack {
	border-top: 1px solid rgba(128, 128, 128, 0.31);
	margin: 5px 0 10px;
}

.testContainer {
	position: relative;
	background-color: dodgerblue;
	width: 250px;
	height: 250px;
}

.popWaveContainer {
	overflow: hidden;
}

.popWave {
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	width: 90%;
	height: 90%;
	background-color: white;
	border-radius: 50%;
	pointer-events: none;
	margin: auto;
	opacity: 0;
}

.popWave.animate {
	animation: popwaveanimate ease-out 0.8s;
	animation-iteration-count: 1;
	transform-origin: 50% 50%;
	animation-fill-mode: forwards;
}

@keyframes popwaveanimate {
	0%  {
		opacity:0;
		transform:  scaleX(0.00) scaleY(0.00) ;
	}
	1%  {
		opacity:0.1;
	}
	100%  {
		opacity:0;
		transform:  scaleX(1.00) scaleY(1.00) ;
	}
}

.ulInline {
	padding: 0;
}

.ulInline li {
	display: inline-block;
	list-style-type: none;
	vertical-align: top;
}

/*=== TEXT ===*/
/*============*/

h1 {
	/* background: linear-gradient(left, rgba(54, 162, 35, 0.98) 0%,rgb(18, 97, 21) 100%);  */
	/* background: linear-gradient(left, rgb(0, 155, 255) 0%,rgb(32, 113, 167) 100%); */
	/* background: -webkit-linear-gradient(left, rgb(66, 75, 84) 0%, rgb(34, 42, 49) 100%); */
	background: -webkit-linear-gradient(left, rgb(66, 75, 84) 0%, rgb(34, 42, 49) 100%);
		background: linear-gradient(left, rgb(66, 75, 84) 0%, rgb(34, 42, 49) 100%);
	/* background: linear-gradient(left, rgb(47, 47, 47) 0%, rgb(80, 80, 80) 100%);*/
	/* background: rgb(0, 155, 255); */
	/* background: rgb(17, 80, 121); */
	line-height: 70px;
	color: white;
	text-align: center;
	font-size: 25px;
}

h2 {
	font-size: 24px;
	margin: 20px 0;
	padding-bottom: 5px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.16);
}

a.backLink {
	border-bottom: 1px dashed grey;
	color: grey;
} a.backLink:hover {
	color: black;
	border-color: black;
}

/*=== BUTTONS ===*/
/*===============*/

button {
	cursor: pointer;
	-webkit-touch-callout: none;
	  -webkit-user-select: none;
	     -moz-user-select: none;
	      -ms-user-select: none;
	          user-select: none;
}

button.u-toggle {
	width: 30px;
	height: 30px;
	margin: 5px;
	display: block;
	text-align: center;
	border: 1px solid #909090;
	background: #D8D8D8;
	border-radius: 2px;
	color: #545454;
}

/* Blue */
.btnColor1{

	background: #0693EF;
	border: 1px solid #187CBD;
	color: white; 
}
/* Green */
.btnColor2 {
	background: #739C00;
	background: -webkit-linear-gradient(35deg, #739C00 0%, #739C00 50%, #638603 51%, #638603 100%);
			background: linear-gradient(35deg, #739C00 0%, #739C00 50%, #638603 51%, #638603 100%);
	border: 1px solid #689400;
	color: white;
}
/* Red */
.btnColor3 {
	background: -webkit-linear-gradient(35deg, #DA3A3A 0%, #DA3A3A 50%, #C72A2A 51%, #C72A2A 100%);
		background: -ms-linear-gradient(35deg, #DA3A3A 0%, #DA3A3A 50%, #C72A2A 51%, #C72A2A 100%);
			background: linear-gradient(35deg, #DA3A3A 0%, #DA3A3A 50%, #C72A2A 51%, #C72A2A 100%);
	border: 1px solid #B51616;
	color: white; 
}
/* Yellow */
.btnColor4 {
	background: #F3C33B; 
	border: 1px solid #CEA531; 
	color: #332602; 
}
/* Grey */
.btnColor5 {
	background: -webkit-linear-gradient(35deg, #83878A 0%, #83878A 50%, #707880 51%, #707880 100%);
			background: linear-gradient(35deg, #83878A 0%, #83878A 50%, #707880 51%, #707880 100%);
	border: 1px solid #3B4C5D;
	color: white;
}
/* White */
.btnColor6 {
	background: #F3F3F3;
	border: 1px solid #B7B7B7;
	color: #283037;
}

.btnDisabled {
	background: #C3C3C3;
	color: #717171;
	border-color: #B3B3B3;
	cursor: not-allowed!important;
	pointer-events: none!important;
}

.btnGreyFade:not(:hover) {
	background: #ECECEC;
	border: 1px solid #D4D4D4;
	color: grey;
}

.btnFade:not(:hover) {
	opacity: 0.5;
}

.btnSmall,
.btnMedium,
.btnPictoLarge,
.btnPictoSmall,
.btnPictoMedium {
	padding: 7px;
	margin: 10px 5px;
	border-radius: 3px;
	display: inline-block;
	transition: opacity 0.3s ease, background 0.3s ease, color 0.2s ease;
		webkit-transition: opacity 0.3s ease, background 0.3s ease, color 0.2s ease;
		-moz-transition: opacity 0.3s ease, background 0.3s ease, color 0.2s ease;
		-o-transition: opacity 0.3s ease, background 0.3s ease, color 0.2s ease;
	text-align: center;
	-webkit-touch-callout: none;
	  -webkit-user-select: none;
	     -moz-user-select: none;
	      -ms-user-select: none;
	          user-select: none;
} .btnPictobtnPictoSmall:not(.btnDisabled):hover,
  .btnPictobtnPictoMedium:not(.btnDisabled):hover,
  .btnPictoLarge:not(.btnDisabled):hover,
  .btnMedium:not(.btnDisabled):hover,
  .btnSmall:not(.btnDisabled):hover {
	box-shadow: inset 0 5px 5px rgba(0,0,0,0.10);
} .btnPictobtnPictoSmall:not(.btnDisabled):active,
  .btnPictobtnPictoMedium:not(.btnDisabled):active,
  .btnPictoLarge:not(.btnDisabled):active,
  .btnMedium:not(.btnDisabled):active,
  .btnSmall:not(.btnDisabled):active {
	box-shadow: inset 0 5px 5px rgba(0,0,0,0.30);
}

.btnMedium  {
	padding: 10px 15px;
	font-size: 14px;
}

.btnPictoSmall {
	width: 30px;
	height: 20px;
	font-size: 12px;
	padding: 0;
}

.btnPictoMedium {
	width: 30px;
	height: 30px;
	font-size: 15px;
	padding: 0;
}

.btnPictoLarge {
	width: 40px;
	height: 40px;
	font-size: 20px;
	padding: 0;
}

input[type="submit"] {
	cursor: pointer;
}

/*=== POPUPS ===*/
/*==============*/

#popupContainer {
	position: fixed;
	top: 10%; right: 0;
	z-index: 9999999;
}

#popupContainer .popup {
	position: relative;
	display: block;
	margin: 5px 0;
	padding: 10px 30px;
	border-width: 1px;
	border-style: solid;
	border-right: 0;
	border-radius: 3px 0 0 3px;
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15);
	cursor: pointer;
	-webkit-animation: fadeinfromright 1s;
			animation: fadeinfromright 1s;
}

@keyframes fadeinfromright  {
	from { opacity: 0; left: 40px;	}
	to	 { opacity: 1; left: 0px;	}
} @-webkit-keyframes fadeinfromright  {
	from { opacity: 0; left: 40px;	}
	to	 { opacity: 1; left: 0px;	}
}


#popupContainer .popup:before {
	content: "x";
	position: absolute;
	opacity: 0.8;
	top: 2px; left: 3px;
	padding: 0 5px;
	color: rgb(255, 255, 255);
	font-size: 14px;
	text-shadow: 0px -1px 0 rgba(0, 0, 0, 0.65);
	line-height: 15px;
}

#popupContainer .popupColor1 {
	background: -webkit-linear-gradient(left, rgba(75, 171, 58, 0.98) 0%, rgb(46, 113, 47) 100%);
			background: linear-gradient(left, rgba(75, 171, 58, 0.98) 0%,rgb(46, 113, 47) 100%);
	border-color: #77A03E;
	color: #F5FFED;
}

#popupContainer .popupColor2 {
	background: -webkit-linear-gradient(left, rgba(175, 60, 60, 0.98) 0%, rgb(113, 46, 46) 100%);
			background: linear-gradient(left, rgba(175, 60, 60, 0.98) 0%,rgb(113, 46, 46) 100%);
	border-color: #A03E3E;
	color: #FFE0E0;
}

/*=== PAGINATION ===*/
/*==================*/

.pagination{
	margin: 10px;
	text-align: center;
}

.pagination ul{
	display: inline-block;
	text-align: center;
	padding: 0;
}

.pagination ul > li{
	float: left;
	list-style-type: none;
	display: inline-block;
	-webkit-touch-callout: none;
	  -webkit-user-select: none;
	     -moz-user-select: none;
	      -ms-user-select: none;
	          user-select: none;
}

.pagination ul > li:first-child a{
	border-radius: 3px 0 0 3px;
}
.pagination ul > li:last-child a{
	border-radius: 0 3px 3px 0;
}

.pagination ul > li > a{
	line-height: 25px;
	width: 25px;
	display: inline-block;
	text-align: center;
	border: 1px solid white;
	box-shadow: 0 0 0 1px #ABABAB;
	background: -webkit-linear-gradient(top, #f5f6f6 0%,#dddfe3 100%);
			background: linear-gradient(top, #f5f6f6 0%,#dddfe3 100%);
	font-weight: bold;
}

.pagination ul > li > a:hover{
	background: -webkit-linear-gradient(top, #E2E2E2 0%,#E6E6E6 100%);
			background: linear-gradient(top, #E2E2E2 0%,#E6E6E6 100%);
}

.pagination ul > li > a:active,
.pagination a.current{
	background: -webkit-linear-gradient(top, #EBECEC 0%,#D0D1D4 100%);
			background: linear-gradient(top, #EBECEC 0%,#D0D1D4 100%);
	border: none;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.38) inset, 0 3px 5px rgba(0, 0, 0, 0.26);
}

.pagination a.current{
	pointer-events: none;
	cursor: default;
	background: -webkit-linear-gradient(top, #0693EF 0%,#0693EF 100%);
			background: linear-gradient(top, #0693EF 0%,#0693EF 100%);
	border: none;
	font-weight: normal;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.38) inset, 0 3px 5px rgba(0, 0, 0, 0.26);
	color: white;
}

.pagination .disabled{
	pointer-events: none;
	cursor: default;
	background: #f5f6f6;
	color: #C5C5C5;
}


/*=================================================================*/
/*                              INDEX                              */
/*=================================================================*/

/*=== COLORED BLOCKS ===*/
/*======================*/
.coloredBlockContainer {
	display: inline-block;
	margin: 20px 20px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.coloredBlock {
	width: 230px;
	height: 110px;
}

.coloredBlock .statNumber {
	display: block;
	padding: 20px 0;
	text-align: center;
	color: white;
	font-size: 45px;
}

.coloredBlockContainer .title {
	background: white;
	display: block;
	padding: 8px 5px;
	font-size: 13px;
	box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3);
	margin: 0 -5px;
}

.coloredBlock.blue		{ background: -webkit-linear-gradient(45deg, #364688 0%, #4E6AAF 100%);
								  background: linear-gradient(45deg, #364688 0%, #4E6AAF 100%); }
/*.coloredBlock.blue		{ background: linear-gradient(135deg, #2F58AD 2%,#395EAB 50%,#2E54A2 50%,#294B94 100%); }*/
.coloredBlock.darkCyan	{ background: -webkit-linear-gradient(45deg, #368488 0%, #5AC3B4 100%);
								  background: linear-gradient(45deg, #368488 0%, #5AC3B4 100%); }
.coloredBlock.gold		{ background: -webkit-linear-gradient(45deg, #887E36 0%, #C3BB5A 100%);
								  background: linear-gradient(45deg, #887E36 0%, #C3BB5A 100%); }
.coloredBlock.green		{ background: -webkit-linear-gradient(45deg, #368840 0%, #5AC362 100%);
								  background: linear-gradient(45deg, #368840 0%, #5AC362 100%); }
.coloredBlock.red		{ background: -webkit-linear-gradient(45deg, #AF2A2A 0%, #E45353 100%);
								  background: linear-gradient(45deg, #AF2A2A 0%, #E45353 100%); }
/*.coloredBlock.red		{ background: linear-gradient(135deg, #DE3737 2%,#DE3737 50%,#C32E2E 50%,#D64646 100%) }*/


/*=================================================================*/
/*                       PAGES NESTED TREE                         */
/*=================================================================*/

.childIndent {
	margin-left: 20px;
}

span.childIndent + .childIndentAnchor:before {
	content: "└ ";
}


/*=================================================================*/
/*                          LIBRARY FILES                          */
/*=================================================================*/

.fileTypeTitle {
	display: block;
	font-size: 22px;
	margin: 30px -20px 30px;
	padding: 5px 50px;
	border-bottom: 2px solid #D4D4D4;
	background: #ECECEC;
	color: #525252;
}

.breadCrumb.library {
	margin: -20px -20px 0;
	background: #2F2F2F;
	color: white;
	padding: 10px 15px;
	font-size: 12px;
}

.breadCrumb.library span:not(:last-child):after  {
	content: ">";
	margin: 0 5px; 
}

.fileContainer {
	position: relative;
	display: inline-block;
	background-color: #fafafa;
	width: 130px;
	margin: 10px 15px;
	border: 2px solid rgb(255, 255, 255);
	border-radius: 0 0 6px 6px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.24);
	text-align: center;
	word-break: break-all;
	vertical-align: top;
}

.ulInline .fileContainer {
	display: block;
}

.fileContainer .fileContain {
	display: block;
	height: 130px;
}

.fileContainer.graspable .fileContain,
.fileContainer .fa-arrows-alt {
	cursor: move;
}

.fileContainer .fileContain i {
	font-size: 80px;
	margin-top: 20px;
	opacity: 0.5;
}

.fileContainer .fa-arrows-alt {
	position: absolute;
	top: 5px;
	left: 0;
	background: white;
	padding: 3px;
	border-radius: 0 5px 5px 0;
	text-align: center;
}

.fileContainer .fileContain img {
	max-width: 100%;
	max-height: 100%;
}

.fileContainer .fileContain span {
	font-size: 20px;
	padding-top: 23px;
	display: block;
}

.fileContainer .fileContain span:before {
	content: "\"";
	position: absolute;
	top: -14px;
	left: 7px;
	font-size: 100px;
	opacity: 0.1;
}

.fileContainer .fileName {
	display: block;
	word-break: break-all;
	padding: 0 10px;
	height: 28px;
	overflow: hidden;
	font-size: 13px;
	line-height: 28px;
	text-align: center;
	color: #333333;
	text-overflow: ellipsis;
	white-space: nowrap;
	background: white;
	border-top: 1px solid rgb(212, 212, 212);
}

.fileContainer input,
.galleryImgContainer input {
	display: block;
	width: 100%;
	margin: 10px 0;
	border-radius: 3px;
	border: 1px solid rgba(0, 0, 0, 0.25);
	padding: 5px;
}

.fileContainer .link {
	position: absolute;
	top: 6px; right: -20px;
	cursor: pointer;
	opacity: 0;
	transition: all ease-in-out 0.1s;
	font-size: 18px;
} .fileContainer:hover .link  {
	opacity: 1;
	right: -25px;
}

.linkBlock:hover .linkInfo  {
	left: 0;
	right: 0;
	opacity: 0.9;
}

.fileContainer .link + .link.l2{ top: 26px; transition-delay: 0.1s; }

/*=== CHECKBOX ===*/
/*================*/
.fileContainer input[type="checkbox"] {
	/*visibility: hidden;*/
	position: absolute;
	top: -7px;
	right: 3px;
	opacity: 0;
	transition: opacity ease-in 0.1s;
} .fileContainer input[type="checkbox"]:checked,
  .fileContainer:hover input[type="checkbox"] {
	opacity: 1;
}

.fileContainer input[type="checkbox"],
.fileContainer input[type="checkbox"]:before {
	width: 24px;
	height: 24px;
}

.fileContainer input[type="checkbox"]:before {
	content: "";
	background-image: url('../../web/img/sprites/adminpanel/checkboxGreen02.png');
	background-position: 0 0;
	background-color: transparent;
	cursor: pointer;
	visibility: visible;
	display: block;
}

.fileContainer input[type="checkbox"]:not(:checked):before {
	background-position: 0 0;
} .fileContainer input[type="checkbox"]:not(:checked):hover:before {
	background-position: -24px 0;
}

.fileContainer input[type="checkbox"]:checked:before {
	background-position: -48px 0;
}

/*=== LIST FOLDERS ===*/
/*====================*/
.folderList ul:first-child {
	padding: 0;
}

.folderList ul {
	word-wrap: normal;
	padding: 0 15px;
}

.folderList ul li {
	list-style-type: none;
	padding-top: 10px;
}

.folderList ul li.current > a {
	font-weight: bold;
}

.folderList ul li:before {
	content: "▼";
	font-size: 9px;
	position: relative;
	right: 7px;
	bottom: 2px;

	content: "";
	display: inline-block;
	position: relative;
	right: 5px; bottom: 2px;
	background: url('../../web/img/sprites/adminpanel/folders.png') no-repeat;
	background-size: 82px;
	width: 13px;
	height: 10px;
	font-size: 9px;
}

/*=== FOLDER IN FILES VIEW ===*/
/*============================*/

.folder {
	display: inline-block;
	background: url('../../web/img/sprites/adminpanel/folders.png') no-repeat;
	width: 79px;
	height: 67px;
	margin-top: 30px;
} a:active .folder, a:focus .folder {
	width: 90px;
	position: relative;
	left: 5px;
}

/* impossible d'utiliser background-position-x MERCI FIREFOX MERCI */
.folderColor1{ background-position: 0px		0px;	} a:focus .folderColor1, a:active .folderColor1{ background-position: -237px 0px; 	}
.folderColor2{ background-position: -79px	0px;	} a:focus .folderColor2, a:active .folderColor2{ background-position: -327px 0px; 	}
.folderColor3{ background-position: -158px	0px;	} a:focus .folderColor3, a:active .folderColor3{ background-position: -417px 0px; 	}
.folderColor4{ background-position: 0px		-67px;	} a:focus .folderColor4, a:active .folderColor4{ background-position: -237px -67px; }
.folderColor5{ background-position: -79px	-67px;	} a:focus .folderColor5, a:active .folderColor5{ background-position: -327px -67px; }
.folderColor6{ background-position: -158px	-67px;	} a:focus .folderColor6, a:active .folderColor6{ background-position: -417px -67px; }
.folderColor7{ background-position: 0px		-134px;	} a:focus .folderColor7, a:active .folderColor7{ background-position: -237px -134px; }
.folderColor8{ background-position: -79px	-134px;	} a:focus .folderColor8, a:active .folderColor8{ background-position: -327px -134px; }

/*=== FOLDER OPTION COLORS ===*/
/*============================*/

.libraryFolderColor1,
.libraryFolderColor2,
.libraryFolderColor3,
.libraryFolderColor4,
.libraryFolderColor5,
.libraryFolderColor6,
.libraryFolderColor7,
.libraryFolderColor8 {
	display: inline-block;
	width: 15px;
	height: 15px;
	border-radius: 50%;
}

.libraryFolderColor1{ background-color: #f1d364; }
.libraryFolderColor2{ background-color: #f19d64; }
.libraryFolderColor3{ background-color: #e07775; }
.libraryFolderColor4{ background-color: #9989cb; }
.libraryFolderColor5{ background-color: #7998da; }
.libraryFolderColor6{ background-color: #76c5dd; }
.libraryFolderColor7{ background-color: #68b56c; }
.libraryFolderColor8{ background-color: #91b568; }
